@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

header {

    background: linear-gradient(90deg, rgba(0, 102, 0, 0.83) 35%, rgba(227, 1, 1, 0.76) 65%);


    padding: 20px;

}

h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    color: white;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}

body {
    background-color: rgba(0, 102, 0, 0.7);
}

.burgerButton {
    font-size: 25px;
    margin-left: 15px;
    background-color: #006600;
    border-color: #006600;
}
.burgerButton:hover {
    background-color: #005100;
    border-color: #005100;
}

.offcanvas-body {
    background-color: rgba(0, 81, 0, 0.82);
}
.offcanvas-header {
    background-color: rgba(0, 81, 0, 0.82);
}

.list-group-item {
    background-color: transparent;
    border: none;
    color: #dcdcdc;
    font-style: normal;

}

.list-group-item:hover {
    background-color: rgba(0, 81, 0, 0.76);
    color: #dcdcdc;

}

.pagination .page-link {
    color: #005100;
}
.curr1 {
    background-color: rgba(116, 255, 116, 0.24);
}





